@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.caseSubjectClientZoneTable {
  overflow-x: auto;

  &__table {
    width: 100%;
    min-width: 640px;

    border-collapse: collapse;
    white-space: nowrap;

    th {
      @include table-heading;

      padding: $space-2 $space-3;
    }

    td {
      padding: $space-3;

      vertical-align: middle;

      border-bottom: 1px solid $color-border;
    }

    tbody tr:last-child td {
      border-bottom: 0;
    }
  }

  &__actions {
    width: 1%;
  }
}
