@use '../../../../styles/variables' as *;

.caseSubjectOnCaseSection {
  &__title {
    margin-top: $space-3;

    color: $color-text-muted;
    font-size: 14px;
    font-weight: 400;
  }

  &__relatedSubjects {
    padding: 0;

    list-style: none;
  }
}
