@use '../../../../../styles/variables' as *;

.subjectCardForm {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: start;
  gap: $space-4;

  @media (max-width: $media-breakpoint-lg - 1px) {
    grid-template-columns: minmax(0, 1fr);
  }

  &__fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;

    border: 0;

    &:disabled {
      input,
      select,
      textarea {
        color: $color-text;
        user-select: text;
        cursor: text;
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: $space-4;
  }
}
