@use '../../../../../styles/variables' as *;

.subjectAddressesDetail {
  &__list {
    display: flex;
    flex-direction: column;
    gap: $space-3;

    padding: 0;

    list-style: none;
  }

  &__note {
    color: $color-text-muted;
    font-size: 12px;
  }
}
