.caseSubjectList {
  width: 100%;
  table-layout: fixed;

  &__name {
    width: 34%;
  }

  &__identification {
    width: 20%;
  }

  &__materialLegalRole {
    width: 17%;
  }

  &__proceduralRole {
    width: 16%;
  }

  &__caseFileNumber {
    width: 13%;
  }
}
