.caseSubjectList {
  width: 100%;
  table-layout: fixed;

  &__identification {
    width: 16%;
  }

  &__materialLegalRole {
    width: 15%;
  }

  &__proceduralRole {
    width: 14%;
  }

  &__caseFileNumber {
    width: 12%;
  }

  &__actions {
    width: 140px;
  }
}
