@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.subjectConnectionRows {
  width: 100%;
  border-collapse: collapse;

  th {
    @include table-heading;

    padding: $space-2;
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 40%;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 120px;
  }

  th:nth-child(4),
  td:nth-child(4),
  th:nth-child(5),
  td:nth-child(5) {
    width: 1%;
  }

  td {
    padding: $space-2;

    vertical-align: top;

    border-bottom: 1px solid $color-border;
  }
}
