@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.selectField {
  display: flex;
  flex-direction: column;
  gap: $space-1;

  &__label {
    @include field-label;

    &--required {
      @include field-label-required;
    }
  }

  &__control {
    @include field-control;
  }
}
