@use '../../../../styles/variables' as *;

.subjectPickerFooter {
  display: flex;
  justify-content: space-between;
  gap: $space-2;

  width: 100%;

  &__group {
    display: flex;
    gap: $space-2;
  }
}
