@use '../../../../styles/variables' as *;

.subjectFormSection {
  position: relative;

  padding: $space-5;

  border: 1px solid $color-border;
  border-radius: $radius-card;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-3;

    margin-bottom: $space-4;
  }

  &__title {
    font-size: 13px;
    font-weight: 600;
  }
}
