@use '../../../../../styles/variables' as *;

.addressFields {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: $space-4;

  &__full {
    grid-column: 1 / -1;
  }

  &__street {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: $space-4;

    @container (max-width: #{$container-breakpoint-sm}) {
      grid-template-columns: minmax(0, 1fr);
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $space-4;
  }
}
